.btn {
    color: #ffffff;
    display: inline-block;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.428571429;
    text-align: center;
    cursor: pointer;
    border: 1px solid #0081cb;
    border-radius: 4px;
    background: #0081cb;
    font-style: normal;
    letter-spacing: 0.3px;
}

.btn:hover,
.btn:focus {
    background-color: #EBEBEB;
    border-color: #ADADAD;
    color: #333333;
    text-decoration: none;
}

p,
span {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

button {
    margin: 20% 45%;
}